
.el-message-box {
  display: inline-block;
  width: 420px;
  padding-bottom: 10px;
  vertical-align: middle;
  background-color: #524f54;
  border-radius: 20px;
  border: 3px solid #dfb56e;
  font-size: 18px;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.el-message-box__headerbtn {
  visibility: hidden;
}

.el-message-box__btns {
  padding: 5px 15px 0;
  text-align: center;

}


.el-message-box__btns button {
  background: #dfb56e;
  border: 0px solid;
  font-size: 20px;
  font-weight: bold;
  color: black;
  width: 90%;
  height: 50px;
  border-radius: 25px;

  background-color: #dfb56e;
  border-color: #dfb56e;
}

.el-message-box__btns button:hover {
  background: #dfb56e;
  border: 0px solid;
  font-size: 20px;
  font-weight: bold;
  color: black;
  width: 90%;
  height: 50px;
  border-radius: 25px;

  background-color: #dfb56e;
  border-color: #dfb56e;
}

.el-button--primary {
  background: #dfb56e;
  border: 0px solid;
  font-size: 20px;
  font-weight: bold;
  color: black;
  width: 90%;
  height: 50px;
  border-radius: 25px;
  background-color: #dfb56e;
  border-color: #dfb56e;
}